@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex; /* create flex container */
  flex-direction: column; /* change flex item direction to columns */
  justify-content: space-between; /* push header and footer to top and bottom of page while leaving content centered in the middle */
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

ul {
  list-style: none ; /* remove list bullets from links */
  margin: 0; /* remove default ul margins */
  padding: 0; /* remove default ul padding */
  display: flex; /* create flex container */
  gap: 1em; /* add spacing between nav links */

  & a {
    text-decoration: none; /* remove hyperlink underline */
    color: #3a3a3a; /* change hyperlink text color */
  }
}

.rightAlign {
  margin-left: auto; /* align right two nav links in header and footer to the right */
}

.header,
.footer {
  padding: 1em; /* add required padding to header and footer */
}

.footer {
  background-color: #eeeeee; /* add footer background color */
}

.content {
  display: flex; /* create flex container */
  flex-direction: column; /* position flex items into column */
  align-items: center; /* horizontally center align .content flex items */
  gap: 5px; /* visually there was already space between the content items, but added slight more space due to assignment requirement */
}

button {
  padding: 8px 16px; /* add button padding */
}