.header  {
  font-family: monospace;
  background: papayawhip;
  display: flex; /* Changed to flex layout */
  justify-content: space-between; /* Position nav links and logo to the desired position */
}

.logo {
  font-size: 48px;
  font-weight: 900;
  color: tomato;
  background: white;
  padding: 4px 32px;
  display: flex;
  align-items: center; /* Center logo vertically */
}

ul {
  /* this removes the dots on the list items*/
  list-style-type: none;
  display: flex; /* Changed to flex layout */
  gap: 1em; /* Added spacing between nav links */
}

a {
  font-size: 22px;
  background: white;
  padding: 8px;
  /* this removes the line under the links */
  text-decoration: none;
}